._2cog ._58ak{width:300px}
._1ape{position:absolute;right:12px;top:12px}._3301{height:100%;width:100%}._4wp7{height:100%;position:relative}._183r{outline:none;padding:10px}._4p7n{margin-left:auto;margin-right:auto;padding:30px 30px 30px 37px}
._4kol ._58ak{width:100%}

#bootloader_Npbrn{height:42px;}.bootloader_Npbrn{display:block!important;}