<div class="modal-style">
    <div class="modal-header clearfix">
        <h4 class="modal-title">Cargar excel</h4>
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form" ng-if="action != 'delete'" action="javascript:;" novalidate>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Archivo</label>
                    <input type="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ng-model="file" file-model="myFile" valid-file required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="uploadFile()">Cargar</button>
                    <button class="btn btn-danger" ng-click="modalClose()">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>