<div class="modal-style">
    <div class="modal-header clearfix">
        <h4 class="modal-title">Detalle de la venta</h4>
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body">

        <div id="imprimir-seccion">
            <!-- CONTENIDO DEL MODAL -->
            <div style="">
                <p>CORRELATIVO: {{dataModal.correlative}}</p>
                <p>FECHA: {{dataModal.created_at}}</p>
                <br/>
                <p>CLIENTE: {{dataModal.customer_name}}</p>
                <p>NIT: {{dataModal.customer_nit}}</p>
                <p>DIRECCION: {{dataModal.customer_direction}}</p>
            </div>
            <br/>
            <div class="table-responsive white ">
                <table class="table table-bordered table-full table-full-small ">

                    <thead>
                    <tr>
                        <th>CANT.</th>
                        <th>PRODUCTO</th>
                        <th>SUBTOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, item) in dataModal.detail ">
                        <td style="text-align: right;">{{item.quantity}}</td>
                        <td >{{item.product.description}}</td>
                        <td style="text-align: right;">{{item.subtotal | number : 2}}</td>
                    </tr>

                    <tr style="text-align: right;">
                        <td colspan="2">TOTAL: </td>
                        <td>{{ dataModal.total | number : 2 }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- CONTENIDO DEL MODAL -->
        </div>

        <div class="row form-group">
            <div class="col-sm-12 text-right">
                <button class="btn btn-success" ng-if="action == 'delete'" ng-click="modalClose()">Cerrar</button>
                <button class="btn btn-default" ng-click="printSale()"><i class="ion ion-printer"></i> Imprimir</button>
            </div>
        </div>
    </div>
</div>