<div class="modal-style">
    <div class="modal-header clearfix">
        <h4 class="modal-title">Detalle de la venta</h4>
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body">
        <div class="row form-group" ng-if="action == 'delete'">
            <h3>¿Está seguro de eliminar este producto?</h3>
        </div>
        <form class="form-horizontal" name="form" ng-if="action != 'delete'" action="javascript:;" novalidate>
            <table class="table table-bordered invoice-table mb20">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="data in products">
                    <td>{{ data.internal_code }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.quantity }}</td>
                    <td>Q. {{ data.unit_price }}</td>
                    <td>Q. {{ data.subtotal }}</td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="row form-group">
            <div class="col-sm-12 text-right">
                <button class="btn btn-success" ng-if="action == 'delete'" ng-click="modalClose()">Cerrar</button>
                <button class="btn btn-danger" ng-if="action == 'delete'" ng-click="saveData(product)">Eliminar</button>
            </div>
        </div>
    </div>
</div>