<div class="page">
    <div class="page-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default table-responsive panel-hovered mb20"  >
                    <div class="panel-heading"><h4>Lista de ventas realizadas</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="small text-bold left mt5">
                                Mostrar
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpts"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                &nbsp;entradas
                            </div>
                            <form class="form-horizontal right col-lg-4">
                                <input type="text" class="form-control input-sm" placeholder="Escriba su búsqueda" data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                    </div>
                    <!-- data table -->
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('id') "
                                       ng-class="{active: row == 'id'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-id') "
                                       ng-class="{active: row == '-id'}"></i>
                                </div>
                            </th>
                            <th>
                                Usuario de sistema
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('description') "
                                       ng-class="{active: row == 'description'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-description') "
                                       ng-class="{active: row == '-description'}"></i>
                                </div>
                            </th>
                            <th>
                                Correlativo
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('internal_code') "
                                       ng-class="{active: row == 'internal_code'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-internal_code') "
                                       ng-class="{active: row == '-internal_code'}"></i>
                                </div>
                            </th>
                            <th>
                                Cliente
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('bar_code') "
                                       ng-class="{active: row == 'bar_code'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-bar_code') "
                                       ng-class="{active: row == '-bar_code'}"></i>
                                </div>
                            </th>
                            <th>
                                NIT
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('stock') "
                                       ng-class="{active: row == 'stock'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-stock') "
                                       ng-class="{active: row == '-stock'}"></i>
                                </div>
                            </th>
                            <th>
                                Forma de pago
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('price_sale') "
                                       ng-class="{active: row == 'price_sale'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-price_sale') "
                                       ng-class="{active: row == '-price_sale'}"></i>
                                </div>
                            </th>
                            <th>
                                Impresión
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('price_sale') "
                                       ng-class="{active: row == 'price_sale'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-price_sale') "
                                       ng-class="{active: row == '-price_sale'}"></i>
                                </div>
                            </th>
                            <th>
                                Total
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('price_sale') "
                                       ng-class="{active: row == 'price_sale'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-price_sale') "
                                       ng-class="{active: row == '-price_sale'}"></i>
                                </div>
                            </th>
                            <th>
                                Estado
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('status') "
                                       ng-class="{active: row == 'status'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-status') "
                                       ng-class="{active: row == '-status'}"></i>
                                </div>
                            </th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in currentPageStores track by $index">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ data.user.name }}</td>
                            <td>{{ data.correlative }}</td>
                            <td>{{ data.customer_name }}</td>
                            <td>{{ data.customer_nit }}</td>
                            <td>
                                <label ng-if="data.type_payment == 'cash'" class="label label-info mr5">Efectivo</label>
                                <label ng-if="data.type_payment == 'credit_card'" class="label label-success mr5">Tarjeta</label>
                                <label ng-if="data.type_payment == 'check'" class="label label-danger mr5">Cheque</label>
                                <label ng-if="data.type_payment == 'down_payment'" class="label label-primary mr5">Depósito</label>
                            </td>
                            <td>
                                <label ng-if="data.invoice == 1" class="label label-success mr5">Con factura</label>
                                <label ng-if="data.invoice == 0" class="label label-danger mr5">Sin factura</label>
                            </td>
                            <td>Q. {{ data.total | number: '2' }}</td>
                            <td>
                                <label ng-if="data.status == 1" class="label label-danger mr5">Anulada</label>
                                <label ng-if="data.status == 0" class="label label-success mr5">Activa</label>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info ion ion-eye" ng-click="modalDetailOpen(data)" md-ink-ripple></button>
                                    <button type="button" class="btn btn-danger ion ion-close-round" ng-if="data.status == 0" ng-click="modalCancelSaleOpen(data)" md-ink-ripple></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- #end data table -->
                    <div class="panel-footer clearfix">
                        <p class="left mt15 small">
                            Mostrando {{currentPageStores.length*(currentPage - 1) + 1}} a {{currentPageStores.length*currentPage}} de {{datas.length}} entradas
                        </p>
                        <pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right"
                                    max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->
</div>

<div class="toast toast-{{positionModel}}">
    <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-{{toast.anim}}">
        <div ng-bind-html="toast.msg"></div>
    </alert>
</div>