<div class="modal-style">
    <div class="modal-header clearfix">
        <h4 ng-if="action == 'new'" class="modal-title">Nuevo usuario</h4>
        <h4 ng-if="action == 'update'" class="modal-title">Editar usuario</h4>
        <h4 ng-if="action == 'delete'" class="modal-title">Eliminar usuario</h4>
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body">
        <div class="row form-group" ng-if="action == 'delete'">
            <h3>¿Está seguro de elimar este usuario?</h3>
        </div>
        <form class="form-horizontal" name="form" ng-if="action != 'delete'" action="javascript:;" novalidate>
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Nombre</label>
                    <input type="text" class="form-control" ng-model="user.name" required>
                </div>
                <div class="col-sm-6">
                    <label>Usuario</label>
                    <input type="text" class="form-control" ng-model="user.user" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Contraseña</label>
                    <input type="text" class="form-control" ng-model="user.password">
                </div>
                <div class="col-sm-6">
                    <label>Empresa</label>
                    <select class="form-control" ng-model="user.company_id" ng-options="item.id as item.trade_name for item in companies" required></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Tipo de usuario</label>
                    <select ng-model="user.type" class="form-control" required>
                      <option value="admin">Adiministrador</option>
                      <option value="user">Cajero</option>
                    </select>
                </div>
                <div class="col-sm-6" ng-if="user.type == 'user'">
                    <div class="ui-checkbox">
                        <br>
                        <label>
                            <input type="checkbox" ng-model="user.cancellation">
                            <span>Anulación de facturas</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-danger" ng-click="modalClose()">Cerrar</button>
                    <button class="btn btn-success" ng-if="action == 'new'" ng-disabled="form.$invalid" ng-click="saveData(user)">Registrar</button>
                    <button class="btn btn-success" ng-if="action == 'update'" ng-disabled="form.$invalid" ng-click="saveData(user)">Editar</button>
                </div>
            </div>
        </form>
        <div class="row form-group">
            <div class="col-sm-12 text-right">
                <button class="btn btn-success" ng-if="action == 'delete'" ng-click="modalClose()">Cerrar</button>
                <button class="btn btn-danger" ng-if="action == 'delete'" ng-click="saveData(user)">Eliminar</button>
            </div>
        </div>
    </div>
</div>